.packed-charts-wrapper {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.pie-chart-container {
    width: 100%;
    height: 100%;
}

.pie-chart-name {
    font-weight: bold;
    font-size: 14px;
    fill: #333;
    text-transform: uppercase;
}

/* Add responsive adjustments */
@media screen and (max-width: 768px) {
    .packed-charts-wrapper {
        height: 150vh; /* Taller on mobile */
        padding: 10px;
    }

    .pie-chart-name {
        font-size: 12px;
    }
}